<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desarrollo Web</title>

    <link rel="stylesheet" href="../resources/servicios.css">

    <link rel="stylesheet" href="/style-css/style.css">
    <script src="https://kit.fontawesome.com/5412390b4a.js" crossorigin="anonymous"></script>
</head>

<body>
    <div id="home" class="title-container">
        <h1 class="title">innovation </h1>
        <h1 class="title "> <span class="tech">tech</span></h1>

    </div>
    <div>
        <a class="regresar-home" href="../../../index.html">Home</a>
        <a class="regresar-right" href="../../galeria.html">Galeria</a>
        <br>
        <br>
        <img class="img-desarrollo" src="../../../img/desarrollo.jpg" alt="">

    </div>
    <h1 class="title">Actualizando </h1>
    <h1 class="title "> <span class="tech">Innovationtech</span></h1>

</body>

</html>