.body {
    background: black;
    color: white;
}

.regresar{
	background-color: rgb(255, 255, 255);
	color: #0f03ff;
	font-weight: 500;
	border-radius: 10px;
	font-size: 14px;
	padding: 5px;
	box-shadow: 10 10 10px rgb(89, 6, 241);
	border:3px solid rgb(13, 19, 190) ;	
	transition:1s;
	text-decoration: none;
}
.regresar:hover{
	background-color: rgb(62, 4, 199);
	color: white;
	border:3px solid white ;
		text-decoration: none;
	
}